@import url('https://fonts.cdnfonts.com/css/mounley-discket');

/* Global Styles */
body {
  background-color: #E5D9F2;
  text-align: center;
}

/* Header Styles */
#header {
  background-color: #A593F9;
  border-color: #CDC1FF;
  border-style: outset;
  box-shadow: 0px 10px 10px black;
  padding: 10px;
  text-align: center;
}

#header>h2>a {
  color: #80DED9;
  font-family: 'MOUNLEY DISCKET', sans-serif;
  text-decoration: unset;
}

#headerNavButtons {
  display: flex;
  flex-direction: left;
  justify-content: space-evenly;
}

/* Input Styles */
input {
  border-radius: 10px;
}

button {
  border-radius: 10px; 
}

button > a {
  color: unset;
  text-decoration: unset;
}

/* Stylist Page Styles */
.stylistDetailsPage {
  margin-left: 34%;
  margin-right: 34%;
  text-align: left;
}

.stylistDetailsPageClientList {
  margin-left: 10%;
  margin-right: 10%;
}

/* Functional Styles */
.required-field-style-red {
  color: red;
}
