<br />
<h1>Welcome!</h1>
<h3>Select an option below:</h3>
<br /><br />
<div class="homeIndexNav">
  <div>@Html.ActionLink("View Stylists", "Index", "Stylists") </div>
  <div>@Html.ActionLink("View Clients", "Index", "Clients")</div>
</div>