@{
  Layout = "_Layout";
}
<br />
<h1>Howdy!</h1>
<h3>Where to?</h3>
<br /><br />
<div class="homeIndexNav">
  <div>@Html.ActionLink("View Stylists", "Index", "Stylists") </div>
  <div>@Html.ActionLink("View Clients", "Index", "Clients")</div>
</div>